@font-face {
    font-family: "Raleway";
    src: url("./Raleway-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    flex-direction: row;
}

.sl {
    width: 55%;
}

.photo {
    width: 45%;
    height: 100vh;
    background-color: #F1EADC;

    display: flex;
    align-items: center;
    padding-left: 40px;
    /* display: flex; */
}

.wrapph {
    position: relative;
    width: min-content;
    /* height: 100vh; */
}

.minip1 {
    position: absolute;
    /* bottom: 100px; */
    /* left: -100px; */
}

.minip2 {
    position: absolute;
    /* top: 20%; */
    /* right: 0; */
}

.mainp {
    /* position: absolute; */
}

.wrapph::after {
    content: '';
    background-image: url("./allef-vinicius-YG97wpX0OEg-unsplash\ 1.png");
    width: 190px;
    height: 318px;
    display: block;
    z-index: 100000;
    position: absolute;
    bottom: -60px;
    left: -140px;
}

.wrapph::before {
    content: '';
    background-image: url("./ionut-comanici-RDcEWH5hSDE-unsplash\ 1.png");
    width: 197px;
    height: 197px;
    display: block;
    z-index: 100000;
    position: absolute;
    top: 20%;
    right: -100px;
}

h2 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;

    /* or 61px */
    letter-spacing: 0.02em;

    color: #000000;

    margin-bottom: 30px;
}

.tx {
    width: 50%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

a {
    text-align: end;
    margin-top: 30px;

}

.sl {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;

    /* or 28px */
    text-align: right;
    letter-spacing: 0.02em;

    color: #000000;
}



.swiper {
    width: 800px;
    height: 500px;
    /* background-color: #000000; */
}

.swiper-pagination-bullet {
    background-color: #D1D1D1;
    border-radius: 0;
    width: 40px;
}

.swiper-pagination-bullet-active {
    background-color: #000000;
}